# Autosaves
/data/map-switchball/autosave/*
/data/template-switchball/autosave/*
*.autosave.map

# Extensions
*.sol
*.xcf

# Directories
/.vs/*
/.tx/*

# Images that using non-alpha
/gui/*.jpg

# Keep the video files on the local computer
*.mp4

# Backups
*.bak

# Raw text files
/*.txt

# Others
/*.ogg